.form-image {
    width: 100px; /* Largura ajustável */
    height: auto; /* Mantém a proporção */
    display: block;
    margin: 0 auto 15px auto; /* Centraliza e adiciona margem abaixo */
    border-radius: 10px; /* (Opcional) Bordas arredondadas */
}

.form-container {
    background-color: #1e1c2ed5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 20px auto; 
}

h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    align-items: center; 
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0a9779;
}

input {
    width: 96%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    outline: none;
}

select{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0a9779;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #44d4c1;
}

.mensagem {
    margin-top: 15px;
    font-size: 14px;
}
