Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Este trecho abaixo configura o servidor para aceitar requisicoes
# tipo /exemplo/10 ou /exemplo ou /exemplo?chave=valor, etc...
# Fazer isso para cada arquivo de rota disponível no servidor.
RewriteRule ^exemplo/([0-9]+) exemplo.php?id=$1 [L,QSA]
RewriteRule ^exemplo exemplo.php [L,QSA]